*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-image: url(../Otel/image/back5.jpg);
    background-repeat: no-repeat;
    background-position:relative;
    background-size:cover;
}
.header{
    display: flex;
    border-bottom: 2px solid #F55536;
    border-radius: 10px;
    height: 80px;
    background-color: #FFB238;
    width: 100%;
    
}
.logo{
    width: 40%;
    float: left;
    display:inline-flex;
}
#logo{
    border: 10px solid #F19143;
    border-radius: 10px;
    
}
.logo h1{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
}
.logo p{
    margin-left: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10 px;
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
}

.menu{
    width: 55%; 
}

.menu ul{
    display: flex;
    float: right;
}


.menu ul li{
    display: flex;
    color: #023047;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 45px;
}

.menu ul li a:hover{
    color: #F55536;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid #FFB238;
    border-radius: 3px;
    background-color: #023047;
}

.container h1 {
    border: 3px solid #023047;
    margin-left: 32%;
    margin-top: 40px;
    text-align: center;
    background-color: #F55536;
    color: white;
    font-weight: bold;
    width: 40%;
    opacity: 0.9;
}

.container p{
    text-align: center;
    border: 3px solid #F55536;
    background-color: #023047;
    color: white;
    margin-left: 25%;
    width: 55%;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 20px;
    opacity: 0.9;
}